doctype html
html(lang='en')
    head
        title SHOPPING LIST App
        link(rel='stylesheet', href='/static/main.css')
    body
        div.wrapper
            h1.logo SHOPPING LIST APP

            block number1    